<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<div th:replace="pc/subgroup/commonHead::commonHead"></div>

<body layadmin-themealias="default" class="layui-layout-body">
<div id="LAY_app" class="layadmin-tabspage-none">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <ul class="layui-nav layui-layout-right" lay-filter="">
                <li class="layui-nav-item">
                    <a href="javascript:;">管理员</a>
                    <dl class="layui-nav-child">
                        <dd onclick="logout()"><a href="">退出登录</a></dd>
                    </dl>
                </li>
            </ul>
        </div>

        <!-- 侧边菜单 -->
        <div class="layui-side layui-side-menu">
            <div class="layui-side-scroll">
                <div class="layui-logo" lay-href=""><span>商城</span></div>
                <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu"
                    lay-filter="layadmin-system-side-menu">
                    <li data-name="" data-jump="" class="layui-nav-item layui-nav-itemed"><a href="javascript:;"
                                                                                             lay-tips="商品管理"
                                                                                             lay-direction="2"> <i
                            class="layui-icon layui-icon-home"></i> <cite>商品管理</cite> <span
                            class="layui-nav-more"></span></a>
                        <dl class="layui-nav-child">
                            <dd data-name="goods" data-jump="goods" class="layui-this"><a href="javascript:;"
                                                                                          lay-href="goods">商品信息</a></dd>
                            <dd data-name="classification" data-jump="classification" class=""><a
                                    lay-href="classification">商品分类</a></dd>
                            <span class="layui-nav-bar" style="top: 28px; height: 0px; opacity: 0;"></span></dl>
                    </li>
                    <li data-name="" data-jump="" class="layui-nav-item layui-nav-itemed"><a href="javascript:;"
                                                                                             lay-tips="海报管理"
                                                                                             lay-direction="2"> <i
                            class="layui-icon layui-icon-home"></i> <cite>海报管理</cite> <span
                            class="layui-nav-more"></span></a>
                        <dl class="layui-nav-child">
                            <dd data-name="advert" data-jump="advert" class=""><a href="javascript:;" lay-href="advert">轮播图</a>
                            </dd>
                    </li>
                    <li data-name="" data-jump="" class="layui-nav-item layui-nav-itemed"><a href="javascript:;"
                                                                                             lay-tips="优惠券管理"
                                                                                             lay-direction="2"> <i
                            class="layui-icon layui-icon-home"></i> <cite>优惠券管理</cite> <span
                            class="layui-nav-more"></span></a>
                        <dl class="layui-nav-child">
                            <dd data-name="coupon" data-jump="coupon" class=""><a href="javascript:;" lay-href="coupon">优惠券</a>
                            </dd>
                    </li>
                </ul>
            </div>
        </div>


        <!-- 页面标签 -->
        <script type="text/html" template="" lay-done="layui.element.render('nav', 'layadmin-pagetabs-nav')">
            {{# if(layui.setter.pageTabs){ }}
            <div class="layadmin-pagetabs" id="LAY_app_tabs">
                <div class="layui-icon layadmin-tabs-control layui-icon-prev" layadmin-event="leftPage"></div>
                <div class="layui-icon layadmin-tabs-control layui-icon-next" layadmin-event="rightPage"></div>
                <div class="layui-icon layadmin-tabs-control layui-icon-down">
                    <ul class="layui-nav layadmin-tabs-select" lay-filter="layadmin-pagetabs-nav">
                        <li class="layui-nav-item" lay-unselect>
                            <a href="javascript:;"></a>
                            <dl class="layui-nav-child layui-anim-fadein">
                                <dd layadmin-event="closeThisTabs"><a href="javascript:;">关闭当前标签页</a></dd>
                                <dd layadmin-event="closeOtherTabs"><a href="javascript:;">关闭其它标签页</a></dd>
                                <dd layadmin-event="closeAllTabs"><a href="javascript:;">关闭全部标签页</a></dd>
                            </dl>
                        </li>
                    </ul>
                </div>
                <div class="layui-tab" lay-unauto lay-allowClose="true" lay-filter="layadmin-layout-tabs">
                    <ul class="layui-tab-title" id="LAY_app_tabsheader">
                        <li lay-id="/"><i class="layui-icon layui-icon-home"></i></li>
                    </ul>
                </div>
                <div class="layui-tab-item">
                    <div id="pageDemo"></div>
                </div>
            </div>
            {{# } }}
        </script>


        <iframe src="/goods" class="frame_show" frameborder="0" id="frame_goods"
                style="width: 100%; height:1.9rem;"></iframe>
        <iframe src="/classification" frameborder="0" id="frame_classification"
                style="width: 100%; height:2.6rem;"></iframe>
        <iframe src="/advert" frameborder="0" id="frame_advert" style="width: 100%; height:2.6rem;"></iframe>
        <iframe src="/coupon" frameborder="0" id="frame_coupon" style="width: 100%; height:2.6rem;"></iframe>

        <!-- 辅助元素，一般用于移动设备下遮罩 -->
        <div class="layadmin-body-shade" layadmin-event="shade"></div>

    </div>
</div>
</body>
</html>
<script>
    $(function () {

        $("#LAY_app").find("div[class$=layui-side-menu]").height();
        $("#LAY_app").find("iframe").attr("style" , "width:100%;height:" + $("#LAY_app").find("div[class$=layui-side-menu]").height() + "px");

        layui.use('element', function () {
            var element = layui.element
                , laypage = layui.laypage //分页
                , layer = layui.layer //弹层
                , table = layui.table //表格;

            // 点击左侧目录，切换相应iframe的显示与隐藏
            $("dd").click(function () {
                layer.closeAll();
                var frame_href = $("#LAY-system-side-menu").find(".layui-this a").attr("lay-href");
                $("#LAY_app").find(".frame_show").removeClass("frame_show");
                $("#frame_" + frame_href).addClass("frame_show");

                //调用iframe页面iframeID中的initPagerList方法
                console.log($(window.parent.document).contents().find("#frame_" + frame_href)[0]);
                $(window.parent.document).contents().find("#frame_" + frame_href)[0].contentWindow.render_table("#frame_" + frame_href, frame_href + '/list', {
                    pageSize: 10,
                    pageNum: 1
                });
            })

        })

    })


    function logout() {
        $.ajax({
            url: "/pc/logout",
            type: "POST",
            dataType: "json",
            success: function (data) {
                console.log("退出成功");
                console.log(data);
                window.location.href = localhostPath + "/login";
            },
            error: function (data) {
                console.log("退出失败");
                console.log(data);
            }
        });
    }
</script>

<style id="LAY_layadmin_theme">
    iframe {
        display: none;
    }

    .frame_show {
        display: block;
    }

    .layui-side-menu, .layadmin-pagetabs .layui-tab-title li:after, .layadmin-pagetabs .layui-tab-title li.layui-this:after, .layui-layer-admin .layui-layer-title, .layadmin-side-shrink .layui-side-menu .layui-nav > .layui-nav-item > .layui-nav-child {
        background-color: #20222A !important;
    }

    .layui-nav-tree .layui-this, .layui-nav-tree .layui-this > a, .layui-nav-tree .layui-nav-child dd.layui-this, .layui-nav-tree .layui-nav-child dd.layui-this a {
        background-color: #2196F3 !important;
    }

    .layui-layout-admin .layui-logo {
        background-color: #20222A !important;
    }
</style>
</body>