<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shopping.shoppingMall.dao.GoodsVOMapper" >
  <resultMap id="BaseResultMap" type="com.shopping.shoppingMall.entity.GoodsVO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="goods_class_id" property="goodsClassId" jdbcType="INTEGER" />
    <result column="goods_class_name" property="goodsClassName" jdbcType="VARCHAR" />
    <result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
    <result column="describe_text" property="describeText" jdbcType="VARCHAR" />
    <result column="image" property="image" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="INTEGER" />
    <result column="link" property="link" jdbcType="VARCHAR" />
    <result column="add_Date" property="addDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, goods_class_id, goods_name, describe_text, image, price, link, add_Date
  </sql>
<!--  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >-->
<!--    select-->
<!--    <include refid="Base_Column_List" />-->
<!--    from goods-->
<!--    where id = #{id,jdbcType=INTEGER}-->
<!--  </select>-->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select g.* , c.class_name AS goods_class_name
    from goods g LEFT JOIN classification c ON g.goods_class_id = c.id
    where g.id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from goods
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.shopping.shoppingMall.entity.GoodsVO" >
    insert into goods (id, goods_class_id, goods_name, describe_text,
      image, price, link , add_date)
    values (#{id,jdbcType=INTEGER}, #{goodsClassId,jdbcType=INTEGER}, #{goodsName,jdbcType=VARCHAR}, #{describeText,jdbcType=VARCHAR},
      #{image,jdbcType=VARCHAR}, #{price,jdbcType=INTEGER}, #{link,jdbcType=VARCHAR}, #{addDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.shopping.shoppingMall.entity.GoodsVO"  useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    insert into goods
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="goodsClassId != null" >
        goods_class_id,
      </if>
      <if test="goodsName != null" >
        goods_name,
      </if>
      <if test="describeText != null" >
        describe_text,
      </if>
      <if test="image != null" >
        image,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="link != null" >
        link,
      </if>
      <if test="addDate != null" >
        add_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="goodsClassId != null" >
        #{goodsClassId,jdbcType=INTEGER},
      </if>
      <if test="goodsName != null" >
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="describeText != null" >
        #{describeText,jdbcType=VARCHAR},
      </if>
      <if test="image != null" >
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=INTEGER},
      </if>
      <if test="link != null" >
        #{link,jdbcType=VARCHAR},
      </if>
      <if test="addDate != null" >
        #{addDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shopping.shoppingMall.entity.GoodsVO">
    update goods
    <set >
      <if test="goodsClassId != null" >
        goods_class_id = #{goodsClassId,jdbcType=INTEGER},
      </if>
      <if test="goodsName != null" >
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="describeText != null" >
        describe_text = #{describeText,jdbcType=VARCHAR},
      </if>
      <if test="image != null" >
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=INTEGER},
      </if>
      <if test="link != null" >
        link = #{link,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shopping.shoppingMall.entity.GoodsVO">
    update goods
    set goods_class_id = #{goodsClassId,jdbcType=INTEGER},
      goods_name = #{goodsName,jdbcType=VARCHAR},
      describe_text = #{describeText,jdbcType=VARCHAR},
      image = #{image,jdbcType=VARCHAR},
      price = #{price,jdbcType=INTEGER},
      link = #{link,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="findListHasAccount" resultMap="BaseResultMap" parameterType="Integer">
    select g.* , c.class_name AS goods_class_name
    from goods g LEFT JOIN classification c ON g.goods_class_id = c.id
    <where>
      <if test="flag == 1">
        id is not null
      </if>
    </where>
  </select>
  <select id="findByCondition" resultMap="BaseResultMap" parameterType="com.shopping.shoppingMall.entity.GoodsVO">
    select g.* , c.class_name AS goods_class_name
    from goods g LEFT JOIN classification c ON g.goods_class_id = c.id
    <where>
      ${condition.comboedExpressions}
    </where>
  </select>
</mapper>